{{#> app}}
 <section class="py-2 bg-green-light">
  <div class="container text-light">
    <div class="row mb-0">
      <div class="col-sm d-flex align-items-center">
        <div class="row py-3">
          <h1 class="fw-bold mt-3">
            Encontre sua equipe
          </h1>
          <p class="my-4">
            E começe já a acelerar suas vendas e fortalecer a confiança de seus clientes!
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
 </section>
 <section >
  <div class="container py-3">
    <div class="d-flex align-items-center gap-3 my-3">
      <span>Você está em: </span>
      <div class="d-flex align-items-center gap-3">
        <button type="button" class="btn btn-brand rounded-circle">
          <i class="bi bi-geo-alt"></i>
        </button>
        <span>
          {{ viewData.consultor.localizacao }}
        </span>
      </div>
    </div>
    <div class="row">
      {{#each viewData.equipes}}
      <div class="card w-100 my-4">
        <div class="card-body">
          <div class="row gap-3 align-items-center">
            <div class="col-10">
              <h5 class="card-title">{{ this.nome }}</h5>
              <p class="card-text">{{ this.descricao }}</p>
              <div class="d-flex align-items-center gap-3">
                <button type="button" class="btn btn-brand rounded-circle">
                  <i class="bi bi-geo-alt"></i>
                </button>
                <span>
                  {{ this.localizacao}}
                </span>
              </div>
              <div class="d-flex align-items-center gap-3 ink-dark text-decoration-none rounded-circle mt-2">
                <img src="/img/avatar2.jpg" alt="mdo" width="42" height="40" class="rounded-circle">
                <span>{{ this.lider }}</span>
              </div>
            </div>
            {{#if viewData.consultor}}
             {{#if viewData.consultor.equipe}}
            <div class="col d-flex flex-column gap-3">
              <button type="button" class="btn btn-outline-secondary" disabled>Nível: {{ this.nivel }}</button>
              <a href="/equipe/{{ this.idEquipe }}" class="btn btn-success">Você é membro</a>
            </div>
            {{/if}}
            {{else}}
            <div class="col d-flex flex-column gap-3">
              <button type="button" class="btn btn-outline-secondary" disabled>Nível: {{ this.nivel }}</button>
              <a href="/equipe/{{ this.idEquipe }}" class="btn btn-brand">Pedir para entrar</a>
            </div>
          </div>
          {{/if}}
        </div>
      </div>
       {{else}}
        <p>Sem equipes disponíveis...</p>
      {{/each}}
    </div>
  </div>
 </section>
{{/app}}